# Your Name
YOUR_NAME_FIRST=Yourae
YOUR_NAME_LAST=Shin

# Your Personal ORCID ID
ORCID_ID=0000-0000-0000-0000

# API Credentials from ORCID Developer Tools
ORCID_CLIENT_ID=APP-000000000000000
ORCID_CLIENT_SECRET=[YOUR SECRET KEY]

# Optional: The API base URL (Production)
ORCID_API_URL=https://pub.orcid.org/v3.0
