@import "tailwindcss";
@source "../../src/**/*.astro";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Pretendard Variable", -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  --font-serif: "Times New Roman", "Times", "STTime", "Baskerville", "Georgia", serif;
  --margin-sec: calc(var(--spacing) * 12);
  --margin-ls: calc(var(--spacing) * 6);
  --margin-el: calc(var(--spacing) * 4);
  --margin-space: calc(var(--spacing) * 2);
  --padding-ls: calc(var(--spacing) * 2);
}

@layer base {
  html {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }

  html,
  body {
    @apply relative m-0 p-0;
  }

  body {
    @apply bg-zinc-50 dark:bg-zinc-900 print:bg-white text-zinc-900 dark:text-zinc-200 font-sans leading-relaxed print:leading-tight;
    font-feature-settings: "prec", "tnum";
  }

  h1,
  h2,
  h3 {
    @apply break-keep transition-colors;
  }

  h1 {
    @apply text-4xl print:text-2xl font-extrabold mb-el;
  }

  h2 {
    @apply text-2xl print:text-lg font-bold border-b-1 border-zinc-300 dark:border-zinc-800 print:border-zinc-800 pb-ls mb-ls;
  }

  h3 {
    @apply text-lg print:text-base font-semibold text-zinc-800 dark:text-zinc-300 print:text-zinc-800 mb-el;
  }

  p.title {}

  p.acc1 {
    @apply text-zinc-600 dark:text-zinc-500 print:text-zinc-600 text-sm;
  }

  p.acc2 {
    @apply text-zinc-500 dark:text-zinc-600 print:text-zinc-600 text-sm italic;
  }

  italic {
    @apply italic;
  }

  ul.workdesc a {
    @apply text-zinc-800 dark:text-zinc-300 print:text-inherit font-semibold print:font-normal hover:underline;
  }

  @media print {
    html {
      font-size: 12pt;
    }

    main {
      @apply font-serif text-zinc-900 leading-tight;
      --margin-sec: calc(var(--spacing) * 4);
      --margin-ls: calc(var(--spacing) * 2);
      --margin-el: calc(var(--spacing) * 2);
      --margin-space: calc(var(--spacing) * 1);
      --padding-ls: calc(var(--spacing) * 1);
    }

    @page {
      @apply mb-16 align-top;

      @bottom-center {
        @apply font-serif text-sm;
        content: counter(page) ' / ' counter(pages);
      }
    }

  }
}