---
import BaseLayout from '../layouts/BaseLayout.astro';
import About from '../components/About.astro';
import ORCIDList from '../components/ORCIDList.astro';
import PubList from '../components/PubList.astro';
import EduList from '../components/EduList.astro';
import WorkList from '../components/WorkList.astro';
import AwardList from '../components/AwardList.astro';
import SkillList from '../components/SkillList.astro';
import FunList from '../components/FunList.astro';
---
<BaseLayout title="CV">
  <About />

  <EduList />

  <section class="mt-sec">
    <h2 id="publications">Publications</h2>
    <ORCIDList />
    <PubList />
  </section>

  <WorkList />

  <AwardList />
  
  <SkillList />

  <FunList />

</BaseLayout>
