---
import BaseLayout from '../layouts/BaseLayout.astro';
import PubList from '../components/PubList.astro';
import PubItem from '../components/PubItem.astro';
import EduItem from '../components/EduItem.astro';

const title = "CV | Yourae Shin";
---
<BaseLayout title={title}>
  <section id="education" class="mt-12">
    <h2>Education</h2>
    <ul>
      <EduItem
        school="University of California, Riverside"
        address="Riverside, California"
        admitDate="2024-09-20"
        program="Doctor of Philosophy in Computer Science"
        dept="Department of Computer Science and Engineering"
      />
      <EduItem
        school="Seoul National University"
        address="Seoul, Korea"
        admitDate="2020-03-01"
        gradDate="2022-02-28"
        program="Master of Science in Biological Science"
        dept="School of Biological Science"
      />
      <EduItem
        school="Seoul National University"
        address="Seoul, Korea"
        admitDate="2015-03-01"
        gradDate="2020-02-28"
        program="Bachelor of Science in Biological Science"
        dept="School of Biological Science"
      />
    </ul>
  </section>

  <section id="publications" class="mt-12">
    <h2>Publications</h2>
    <PubList />
  </section>
</BaseLayout>