---
import { getCollection, getEntry } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import About from '../components/About.astro';
import FunItem from '../components/FunItem.astro';

const entry = await getCollection('visit');
if (!entry) { console.error(entry); }
console.log(entry);
---

<BaseLayout title="Visit Seoul">
  <About />
  <section class="mt-sec">
  <h2 id={entry[0].id} set:html={entry[0].data.title}></h2>
    {entry[0].data.description && (
      <p class="text-zinc-600 dark:text-zinc-500 mb-el" set:html={entry[0].data.description}></p>
    )}
    {entry[0].data.sections.map((section) => (<FunItem {...section} use_google_link="true" />))}
  </section>
</BaseLayout>
