---
import { getCollection, getEntry } from 'astro:content';
import PubItem from '../components/PubItem.astro';

const entry = await getCollection('publication');
if (!entry) { console.error(entry); }
---

{entry && (
  <>
  <h3 id={entry[0].id}>{entry[0].data.title}</h3>
  <ul>
    {entry[0].data.items.map((item) => {
      return (
        <PubItem
          {...item}
        />
      )
    })}
  </ul>
  </>
)}

<style>
  @reference "../styles/common.css";
  @layer base {
    ul {@apply print:list-decimal;}
  }
</style>