---
import { Icon } from 'astro-icon/components';
---
<button
  onclick="window.scrollTo({top: 0, behavior: 'smooth'});"
  class="p-1 rounded text-zinc-500 bg-zinc-100 dark:text-zinc-600 dark:bg-zinc-950 cursor-pointer"
>
  <Icon name="ic:baseline-arrow-upward" class="w-5 h-5" />
</button>
