<h3 id="sk-tech">Technical Skills</h2>
<ul></ul>
<h3 id="sk-languages">Languages</h2>
<ul class="sm:grid grid-cols-3 gap-x-2 max-sm:space-y-2">
  <li>
    <p>Korean</p>
    <p class="acc1">Native</p>
  </li>
  <li>
    <p>English</p>
    <p class="acc1">Full Professional Proficiency</p>
  </li>
  <li>
    <p>Japanese</p>
    <p class="acc1">Elementary Proficiency</p>
  </li>
</ul>

<style>
</style>