---
import WorkItem from '../components/WorkItem.astro';
import InlineAnchor from '../components/InlineAnchor.astro';
---
<h3 id="teach-assistant">Teaching Assistant</h3>
<ul>
  <WorkItem
    job="Design and Analysis of Algorithms (CS218)"
    team="Department of Computer Science and Engineering"
    company="University of California, Riverside"
    address="Riverside, California"
    dateStart="2025-09-22"
    dateEnd="2025-12-12"
    url="https://www.cs.ucr.edu/~mingxunw/courses/cs218/fa25/"
  />
  <WorkItem
    job="Assembly Language (CS061 Lab)"
    team="Department of Computer Science and Engineering"
    company="University of California, Riverside"
    address="Riverside, California"
    dateStart="2025-03-27"
    dateEnd="2025-06-13"
  />
  <WorkItem
    job="General Biology and Laboratory (Lab)"
    team="School of Biological Science"
    company="Seoul National University"
    address="Seoul, Korea"
    dateStart="2021-03-01"
    dateEnd="2021-06-18"
  />
  <WorkItem
    job="Biological Sciences Experiments (Lab)"
    team="School of Biological Science"
    company="Seoul National University"
    address="Seoul, Korea"
    dateStart="2020-09-01"
    dateEnd="2020-12-21"
  />
  <WorkItem
    job="Advanced Convergence Computational Biology"
    team="School of Biological Science"
    company="Seoul National University"
    address="Seoul, Korea"
    dateStart="2020-03-02"
    dateEnd="2020-06-12"
  />
</ul>