---
import { Icon } from 'astro-icon/components';
---

<button
  title="Light/Dark"
  x-data="{ 
    isDark: false,
    init() {
      this.isDark = document.documentElement.classList.contains('dark');
    },
    toggle() {
      this.isDark = !this.isDark;
      document.documentElement.classList.toggle('dark', this.isDark);
      localStorage.setItem('theme', this.isDark ? 'dark' : 'light');
    }
  }"
  @click="toggle()"
  class="p-1 rounded text-zinc-300 bg-zinc-100 dark:text-zinc-800 dark:bg-zinc-950 cursor-pointer"
>
  <Icon name="ic:baseline-dark-mode" class="hidden dark:block w-5 h-5" />
  <Icon name="ic:baseline-light-mode" class="dark:hidden block w-5 h-5" />
</button>
