---
import WorkItem from '../components/WorkItem.astro';
---
<ul>
  <WorkItem
    job="Assistant research engineer"
    team="Bioinformatics Team"
    company="Biomarker Research Institute (BRI), Bertis"
    address="Gyeonggi-do, Korea"
    dateStart="2022-06-27"
    dateEnd="2024-06-30"
  >
    <ul class="list-disc text-sm mt-2 ml-4">
      <li>
        <p>Led diagnostic biomarker discovery based on systematic analysis of untargeted plasma proteome profiles in cholangiocarcinoma and prostate cancer.</p>
      </li>
      <li>
        <p>Led single-cell level untargeted proteomics analysis on HeLa cell lysate for single-cell proteomics analysis workflow standardization.</p>
      </li>
      <li>
        <p>Automated untargeted proteomics analysis and developed visualization platform for commercial proteomics solution service.</p>
      </li>
    </ul>
  </WorkItem>
</ul>