---
import "../styles/common.css";
import ToC from '../components/ToC.astro';
import ThemeBtn from '../components/ThemeBtn.astro';
import PrintBtn from '../components/PrintBtn.astro';

// This runs once during 'npm run build'
const buildDate = new Date().toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'short',
  day: 'numeric',
  hour: '2-digit',
  minute: '2-digit',
});

const { title } = Astro.props;
---
<!--  ::::::::::  ##::    ::## :::::::::::: ##::   ::## -->
<!-- :::::::::::: ##::    ::## :::::::::::: ###::  ::## -->
<!-- ::::::       ##::    ::##     ::::     ####:: ::## -->
<!--  ::::::::::  ############     ::::     ## ::####:: -->
<!--       ::::::: ############     ::::     ##  ::###:: -->
<!-- :::::::::::: ##::    ::## :::::::::::: ##   ::##:: -->
<!--  ::::::::::  ##::    ::## :::::::::::: ##    ::##  -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
  <title>{title}</title>
  <script is:inline>
    const theme = (() => {
      if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
        return localStorage.getItem('theme');
      }
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        return 'dark';
      }
      return 'light';
    })();
    if (theme === 'dark') {
      document.documentElement.classList.add('dark');
    } else {
      document.documentElement.classList.remove('dark');
    }
    window.localStorage.setItem('theme', theme);
  </script>
</head>
<body>
  <nav
    x-data="{ 
      atTop: true, 
      isScrollingDown: false, 
      lastScrollY: 0 
    }"
    x-init="lastScrollY = window.scrollY"
    @scroll.window="
      isScrollingDown = window.scrollY > lastScrollY && window.scrollY > 50;
      atTop = window.scrollY < 10;
      lastScrollY = window.scrollY;
    "
    class="fixed w-full top-0 left-0 right-0 print:hidden"
  >
    <div 
      :class="{
        'backdrop-blur-lg': !isScrollingDown && !atTop
      }"
      class="max-w-3xl mx-auto p-8 flex justify-between items-center"
    >
      <div
        class="transition-opacity transition-200"
        :class="{ 
          'opacity-100': !isScrollingDown || atTop, 
          'opacity-0': isScrollingDown && !atTop,
        }"
      >
        <a href="/" class="font-bold text-xl">Yourae Shin</a>
      </div>
      <div class="space-x-2">
        <ThemeBtn />
        <PrintBtn />
      </div>
    </div>
  </nav>

  <ToC />

  <main class="max-w-3xl mx-auto mt-24 px-8 pb-20 print:m-0 print:p-0">
    <!-- slot content -->
    <slot />
  </main>

  <footer class="max-w-3xl mx-auto px-8 pb-20 text-sm text-zinc-300 dark:text-zinc-600 print:hidden">
    <div class="sm:flex flex-row items-center justify-between mb-el">
      <p>© 2026 Yourae Shin</p>
      <p>Built with Astro · AlpineJS · TailwindCSS</p>
    </div>
    <p>This website is automated with ORCID API and Github action.</p>
    <p class="mb-el">Last Updated at {buildDate}</p>
  </footer>
</body>
</html>
